<!DOCTYPE html>
<html>
<head>
	<title>创建表</title>
</head>
<body>
<form>
	<table>
		<tr>
			<td>表名</td>
			<td><input type="text" name=""></td>
		</tr>
		<tr>
			<td>字段名</td>
			<td><input type="text" name="cloum[]"></td>
		</tr>
		<tr>
			<td>类型</td>
			<td><section>
				<option value="int">数字</option>
			</section></td>
		</tr>
		<tr>
			<td>长度</td>
			<td><input type="text" name=""></td>
		</tr>
		<tr>
			<td>默认值</td>
			<td><select>
				<option></option>
			</select></td>
		</tr>
		<tr></tr>
	</table>
</form>
</body>
</html>